# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react-fronted/node_modules
/react-fronted/.pnp
/react-fronted.pnp.js

# testing
/react-fronted/coverage

# production
/react-fronted/build
/build
/venv
# misc
/react-fronted.DS_Store
/react-fronted.env.local
/react-fronted.env.development.local
/react-fronted.env.test.local
/react-fronted.env.production.local

/react-frontednpm-debug.log*
/react-frontedyarn-debug.log*
/react-frontedyarn-error.log*
/.idea/
/react-fontend/node_modules/
react-fontend/package-lock.json
.vscode
