Django
psycopg2
Celery
redis
celery[redis]
geopy
djangorestframework
social-auth-app-django
django-rest-framework-social-oauth2
django-oauth-toolkit
django-webpack-loader #Used to tell django the leatest bundle in order to do the hot-reloading during dev