Django
psycopg2
Celery
redis
celery[redis]
geopy
djangorestframework
drf-nested-routers
social-auth-app-django
django-rest-framework-social-oauth2
django-oauth-toolkit
pillow
django-extra-fields
django-cors-headers